.field-group, .field-group-half{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
}

.field-group-half .field, .field-group-half .field-group {
    flex: 3;
}
.field-group-half .field:last-child, .field-group-half .field-group:last-child{
    
    flex: 1;
}
.field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 16px;
    gap: 8px;
}