@import url(inputs.css);

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    overflow-x: hidden;
}

.content {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        padding: 1rem;
        width: 100%;
    }
    header li img {
        display: none;
    }
    a {
        font-size: 90%;
    }
    header .content div{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
}

@media screen and (min-width: 768px) {
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        padding: 1rem;
        width: 100%;
    }
    
}

header .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}



header ul{
    list-style-type: none;
}
header li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transition: 500ms;
    padding: 4px;
    border-radius: 8px;
}

header li img{
     width: 1.5rem;   
}

header li a{
    color: var(--black-3);
    font-weight: bold;
}

header li:hover{
    background-color: var(--white-2);
}

header li:hover a{
    color: var(--black-1);
}

header nav ul{
    
    display: flex;
    gap: 1rem;
}

header .iconLogo{
    width: 6rem;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

footer img{
    width: 3rem;
}
footer .rights{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

footer .rights span{
    color: var(--black-3);
    font-size: small;
}

nav .active{
    color: var(--secondary-light);
}

/* -------------------------------------------------------- */



@media screen and (max-width: 768px) {
    footer{
        max-width: 20rem;
    }
}
/* -------------------------------------------------------- */



#social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
}

#social-media .socialIcon{
    fill: var(--black-3);
    transition: 400ms;
    width: 2rem;
    height: 2rem;

}

#social-media .socialIcon:hover{
    fill: var(--black-2);
}


.bodyContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 80vh;
    overflow-y: auto;
    gap: 4px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}

#sobre-nos{
    padding: 1rem;
    width: 100%;
}


#cardapio{
}