* {

}



.modal{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #333a;
    top: 0;
    z-index: 1;
}

.modaloff{
    display: none;
}