@import url(inputs.css);


#container {
    padding: 1rem;
    background-color: var(--tertiary);
    border-radius: 8px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tasks{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    width: 100%;
    height: 10rem;
    padding: 0.5rem;
    max-width: 50vw;
    gap: 10px;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 8rem;
    width: 12rem;
    padding: 1rem 0.5rem;
    border-radius: 8px;
    background-color: var(--secondary-light);
    border: 2px solid transparent;
    transition: 0.5s;
    gap: 5px;
}

.card:hover{
    border: 2px solid var(--primary);
}



.card span{
    position: absolute;
    left: 5px;
    bottom: 2px;
    color: var(--black-3);
    font-size: 12px;
    width: max-content;
}
.card p{
    font-size: 14px;
    overflow-x: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Define o número de linhas exibidas */
    -webkit-box-orient: vertical; /* Orientação vertical */
    max-width: 100%; 
}


#modal{
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000a;
    transition: 0.5s;
}
#modal .content{
    position: relative;
}
#modal.hidden{
    display: none;
}

#modal .close{
    position: relative;
    z-index: 2;
    left: calc(100% - 1.5rem);
    top: 2rem;
    width: 1.3rem;
}

#modal .edit{
    position: relative;
    z-index: 2;
    left: -1rem;
    top: 3rem;
}

#modal .delete{
    position: relative;
    z-index: 2;
    top: calc(100%  - 2.1rem);
    left: calc(100% - 6.1rem);
}


#modal img{
    transition: 0.5s;
    width: 2rem;
}

#modal img:hover{
    transform: scale(1.1);
}
#modal img:active{
    transform: scale(0.9);
    transition: 0.1s;
}
#modal input:disabled{
    font-weight: bold;
    color: var(--black-1);
}
#modal .card{
    width: 45vw;
    height: 40vh;
    background-color: var(--white-2);
    gap: 1rem;
    min-width: 20rem;
}
#modal .card:hover{
    border: 2px solid transparent;
}
#modal .card span{
    bottom: 1rem;
    left: 1rem;
    font-size: 14px;
    font-weight: bold;
}



.select{
    border: 2px solid var(--alert);
    background-color: var(--secondary);
}

.select:hover{
    border: 2px solid var(--alert);
}