:root {
    --background: #F2E5A8ff;
    --background-snd: #F3D68Bff;
    --background-ter: #F6B756ff;

    --black-1: #000000;
    --black-2: #2a2a2a;
    --black-3: #4a4a4a;

    --white-1: #FEFFFE;
    --white-2: #F0F0F0;
    --white-3: #EFEFEF;

    --primary: #F598ADff; /* bakermiller-pink */

    /* Cores Secundárias */
    --secondary: #926386ff; /* chinese-violet */
    --secondary-light: #936625ff; /* golden-brown */

    /* Cores Terciárias */
    --tertiary: #FB8C50ff; /* atomic-tangerine */
}


*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    /* Dragable */
      -webkit-user-drag: none;
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;

  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
      border-radius:4px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #333;
  }


h1, p, a, body, span{
    color: var(--black-1);
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* background-color: var(--background-ter); */
    background-image: url("./assets/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
header{
    width: 100%;
    background-color: var(--secondary);
    /* background-image: url("./assets/bg.png"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav ul{
    width: 50vw;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;

}
nav li a{
    color: var(--white-3);
    font-size: 18px;
    font-weight: bold;
    transition: 500ms;
}
li:hover a{
    color: var(--background);
}
header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header div img{
    width: 5rem;
}
body .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    /* overflow-y: auto;
    overflow-x: hidden; */

}

aside{
    position: absolute;
    width: 15rem;
    left: 2rem;
    top: 8rem;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--background);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:5rem;
    background: var(--secondary);
}
/* ------------------------ */
.articleContainer{
    display: flex;
    flex-direction: column;
    width: 70vw;
    border-radius: 12px;
}

#list-products{
    max-height: 45vh;
    overflow-x: auto;
    margin-top: 8px;
}

#list-offers{
    display: flex;
    flex-direction: column;
    width: 70vw;
}

#list-offers .category{
    display: flex;
    flex-direction: column;
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.category h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    justify-content: center;
    background-color: var(--background);
    border-radius: 8px;
    padding: 4px 4px;
    margin-bottom: 8px;
}
.products{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 8px;
    width: 100%;
    padding: 8px;
    max-width: 80vw;
    overflow-x: auto;
}
/* ------------------------ */
.product{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: var(--background-snd);
    padding: 8px;
    border-radius: 12px;
    width: 12rem;
    border: 2px solid transparent;
    transition: 500ms;
}
.product:hover{
    border: 2px solid gray;

}
.product figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.product .title{
    font-size: larger;
    font-weight: bold;
    margin: 4px 0;
}
.product img {
    width: 100%;
    border-radius: 8px;
}

.product .discount{
    background-color: var(--secondary);
    color: var(--white-2);
    padding: 5px;
    border-radius: 4px;
    opacity: 95%;
    margin-top: 8px;
}
.product .discount::after{
    content: "off";
    text-transform: uppercase;
}
.product .price{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    gap: 5px;
    margin-top: 8px;
}

.product .price span:nth-child(2){
    text-decoration: line-through;
    color: var(--black-3);
    font-size: 16px;
    opacity: 75%;
}


/* ------------------------ */
.card-img{
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    transform: perspective(100vw) translateZ(0) rotateX(0);
    box-shadow: 0 3px 9px #0003;
    cursor: pointer;
}

.card-img:hover {
    transform: perspective(100vmax) translateZ(20px) rotateX(8deg);
    box-shadow: 0 5px 12px #0004;
}

.card-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    background: linear-gradient(#fff0 70%, #fff3 72%, #fff2 100%);
    transform: rotate(-135deg) scale(2);
}

.card-img:hover::before {
    transform: rotate(-135deg) scale(3) translateY(-20%);
  }

.card-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------------------ */
section{
    background-color: var(--secondary-light);
    width: 100vw;
}
section h2{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--background-snd);
    border-radius: 8px;
    padding: 4px;
}
section article, section form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-bottom: 8px;
}
section article{
    background-color: var(--tertiary);
}

table{
    background-color: var(--background);
    padding: 8px;
    border-radius: 8px;
    border-collapse: collapse;
}

th, td{
}
th{
    background-color: gray;
}
td, th{
    padding:4px 8px;
}

form main{
    display: flex;
    flex-direction: column;
    background-color: var(--background-snd);
    padding: 16px;
    border-radius: 8px;
    gap: 8px;
}

label, legend{
    font-weight: bold;
}
.field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 16px;
    gap: 8px;
}

input, button, select{
    padding: 8px 12px;
    border-radius: 8px;
    border: 2px solid transparent;
    background-color: var(--background);
    transition: 500ms;
    font-size: large;
    font-family: sans-serif;
    width: 100%;
}

input:hover, select:hover{
    border: 2px solid var(--white-3);
}

input:focus, select:focus{
    border: 2px solid var(--primary);
    background-color: white;
    border-radius: 10px;
}
input:disabled, select:disabled, button:disabled{
    background-color: var(--white-3);
}

button{
    width: 16rem;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--tertiary);
}

button:hover{
    border: 2px solid var(--secondary);
}

button:active{
    transition: 250ms;
    border: 2px solid black;
    background-color: var(--secondary);
}
