:root {
    --background: #fffafa;

    --black-1: #000000;
    --black-2: #2a2a2a;
    --black-3: #4a4a4a;

    --white-1: #FFFFFF;
    --white-2: #F0F0F0;
    --white-3: #EFEFEF;
    --white-4: #CFCFCF;

    --primary: #D9232A;
    --secondary: #E0270D;
    --secondary-light: #FF2A00;
    --tertiary: #ffb761;
    --tertiary-light: #FED298;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    /* Dragable */
      -webkit-user-drag: none;
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
      border-radius:4px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333;
}


a, span, h1, h2, h3, label, p {
font-family: 'Open Sans', sans-serif;
color: var(--black-1);
}

label{
    font-weight: bold;
}

a{
  text-decoration: none;
  color: inherit;
}